.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  border: 1px white solid;
  text-align: center;
  padding: 50px 10px 50px 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right,  rgba(20, 18, 18, 0.836), rgba(255, 255, 255, 0.486));

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.btn {
  background-color: #282c40;
  border: 1px white solid;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}